@{
    ViewBag.Title = "پسورد شما بازنشانی شد";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        پسورد شما بازنشانی شد، لطفا @Html.ActionLink("برای ورود اینجا کلیک کنید", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
