@model IEnumerable<VectorShop.Models.PriCat>

@foreach (var item in Model)
{
    <a href="/Product/ProductsPriCat/@item.PriCatId/@VectorShopUtility.StringDasher(item.PriCatTitle)">@item.PriCatTitle</a>
    <br />
}