@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "یافت نشد";
}

<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    خطا!
                </h1>
                <h2>
                  صفحه مورد نظر یافت نشد.404   
                </h2>
                <div class="error-details">
                    با عرض پوزش صفحه مورد نظر شما یافت نشد.
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        خانه
                    </a><a href="/Contact/Create" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> تماس با مدیریت </a>
                </div>
            </div>
        </div>
    </div>
</div>