@model IEnumerable<VectorShop.Models.Advert>

@foreach (var item in Model)
{
    <a href="@item.AdvertUrl" title="@item.AdvertTitle"><img src="@item.AdvertPicture" class="img-responsive" style="display: inline; max-width: 200px;"></a>
}